.l {
  color: var(--color-grey-07);
}
.u {
  color: var(--color-grey-10);
}
.d {
  color: var(--color-green);
}
.s {
  color: var(--color-orange);
}

@media (prefers-color-scheme: dark) {
  .l {
    color: var(--color-grey-04);
  }
  .u {
    color: var(--color-white);
  }
}
